<div class="toolbar">
  <h2>Product Page</h2>

  <div class="cart-info" [routerLink]="'/cart'">
    🛒 <span class="cart-count">{{ cartItemCount }}</span>
  </div>
</div>

<!-- Cart List -->
<div class="product-list">
  <div class="product-item" *ngFor="let item of cartList$ | async">
    <span class="product-id">#{{ item.id }}</span>
    <img [src]="item.image" alt="No image found" class="product-image">
    <span class="product-name">{{ item.name }}</span>
    <span class="product-amount">${{ item.amount }}</span>
    <button class="remove-cart-btn" (click)="deleteCart(item)">Remove from Cart</button>
  </div>
</div>